# Core Libraries
pandas==2.2.*
numpy==2.*
matplotlib==3.10.*
seaborn==0.13.*
scipy==1.15.*

# Machine Learning & Deep Learning
scikit-learn==1.6.*
tensorflow==2.18.*
keras==3.9.*
torch==2.6.*

# Additional Utilities
yfinance==0.2.*
ta==0.11.*
pytrends==4.9.*
kaggle

# Custom evaluation library- pumpdumpsters
-e git+https://github.com/kushal-dudipala/pump-and-dumpsters.git@57fa3ecb2a54a395338024a59bbeb52d83fa7f96#egg=pumpdumpsters&subdirectory=pumpdumpsters
