# Core Libraries
pandas>=2.0.0
numpy>=1.19.2
matplotlib>=3.7.0
seaborn>=0.12.0
scipy>=1.10.0
scikit-learn>=1.0.0

# Machine Learning & Deep Learning
tensorflow>=2.12.0,<2.16.0 
keras>=2.12.0
torch>=2.0.0

# Additional Utilities
yfinance>=0.2.0
ta>=0.10.0
pytrends>=4.9.0
kaggle

# Custom evaluation library- pumpdumpsters
# -e git+https://github.com/kushal-dudipala/pump-and-dumpsters.git@57fa3ecb2a54a395338024a59bbeb52d83fa7f96#egg=pumpdumpsters&subdirectory=pumpdumpsters
